
.home-container{
    flex-direction: column;
    right:30px;
    top: 20%;
}
.avatar img{
    float: right;
    margin-left: 5%;
    margin-top: 5%;
    height: 300px;
}
.about{
    width:100%;
}
.intro p{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
}
#about-img img{
    height: 200px;
    margin-left: 3vw;
    margin-right: 8vw;
}
